<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if lt IE 9]>
    <script src="public/js/vendor/html5.js"></script>
    <![endif]-->
    <title>aaargh</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="Description" content="Web development, humour, and anything else I can think of">


    <link rel="stylesheet" type="text/css" href="/public/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/fonts/icons/style.css"/>
    <link rel="stylesheet" media="screen and (min-width:0) and (max-width:767px)" href="/public/css/styles-responsive.css"/>
    <!--[if lt IE 8 ]>
        <link rel="stylesheet" type="text/css" href="/public/css/styles-responsive.css"/>
    <![endif]-->



    <link rel="shortcut icon" href="/favicon.ico">

    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
</head>

<!--[if lt IE 7 ]>				<body class="no-js iex ie6"> <![endif]-->
<!--[if IE 7 ]>					<body class="no-js iex ie7"> <![endif]-->
<!--[if IE 8 ]>					<body class="no-js iex ie8"> <![endif]-->
<!--[if IE 9 ]>					<body class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->	<body class="no-js"> <!--<![endif]-->



    <main class="content">
        <div class="gridwrapper">

            <div class="well">
                <h2 class="title">Oh dear</h2>
                <div class="content">
                    <p>It looks like something's gone wrong with the site. Sorry about that. Don't worry, the problem has been noticed and teams of hard working chimps are even now marshalling to track down the cause.</p>
                    <p>Please return to the <a href="/">homepage</a> and try again.</p>
                    <p><em>{{ error }}</em></p>
                </div>
            </div>


        </div>
    </main>



</body>
</html>
