{% extends 'layout.html' %}

{% block albumlist %}
    TEMPLATE
    {% for listAlbums %}
        <div>
            <a href="[[ albumlink ]]" data-loadalbum="[[ albumlinkaj ]]">
                <img src="public/img/thumbs/[[ thumb ]]" alt="[[ thumb ]]"/>
            </a>
            <p>[[ name ]], [[ date ]], [[ intro ]]</p>
            <p>
                <a href="[[ albumlink ]]" data-loadalbum="[[ albumlinkaj ]]">Album</a>
                <a href="[[ thumbslink ]]" data-loadalbum="[[ thumbslinkaj ]]">Thumbs</a>
            </p>
        </div>
    {% endfor %}
{% endblock albumlist %}

{% block scripts %}
    <script>
        /*
        $(document).ready(function(){
            lenny.ajax.loadAlbumList();
        });
        */
    </script>
{% endblock scripts %}

