{% extends 'layout.html' %}

{% block albumlist %}
    <div class="grid page">
        {% for listAlbums %}
			<a href="[[ albumlink ]]" data-loadalbum="[[ albumlinkaj ]]" class="col">
                            <img src="public/img/thumbs/[[ thumb ]]" alt="[[ thumb ]]"/>
                <h2>[[ name ]]</h2>
                <h3>[[ date ]]</h3>
                <p>[[ intro ]]</p>
                <p>
                    <a href="[[ albumlink ]]" data-loadalbum="[[ albumlinkaj ]]"><i class="icon-camera"></i> Album</a>
                    <a href="[[ thumbslink ]]" data-loadalbum="[[ thumbslinkaj ]]"><i class="icon-th-large"></i> Thumbs</a>
                </p>
            </a>
        {% endfor %}
    </div>
{% endblock albumlist %}

