{% extends 'base.html' %}

{% block content %}
    <div class="jsshow">
        <div ng-show="currentview == 'home'" class="grid page">
            <div ng-repeat="item in albums" class="col">
                <div class="row">
                    <div class="span5">
                        <img src="/snapd-angular/public/img/thumbs/{{ item.thumb }}" alt="IMG {{ item.thumb }}" ng-click="loadAlbum(item.albumlinkaj,item.albumlink)"/>
                    </div>
                    <div class="span7">
                        <h2>{{ item.name }}</h2>
                        <h3>{{ item.date }}</h3>
                        <p>{{ item.intro }}</p>
                        <p>
                            <span ng-click="loadAlbum(item.albumlinkaj,item.albumlink)" class="faux_link"><i class="icon-camera"></i> Album</span>
                            <span ng-click="loadThumbs(item.thumbslinkaj,item.thumbslink)" class="faux_link"><i class="icon-th-large"></i> Thumbs</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="currentview == 'album'">
            <div class="mapwrapper">
                <div class="map-toggle mapstate{{ mapstate }}" ng-click="toggleMap()">+</div>
                <div id="map" class="map" ng-show="markers.length > 0"></div>
            </div>
            <nav class="albumnav">
                <span ng-show="currentpic > 0" ng-click="showPrev()" class="nav faux_link" title="Previous"><i class="icon-chevron-left"></i></span>
                <span ng-show="currentpic < album.size" ng-click="showNext()" class="nav faux_link" title="Next"><i class="icon-chevron-right"></i></span>
                <span ng-click="loadThumbs('',url_sitepath + '/thumbs' + album.link)" class="nav faux_link" title="Thumbs"><i class="icon-th-large"></i></span>
                <span ng-click="viewFullSize()" class="nav faux_link" title="Full size"><i class="icon-search-plus"></i></span>
                <span class="nav progress">{{ currentpic + 1 }} of {{ album.size + 1 }}</span>
            </nav>
            <div ng-repeat="item in album" ng-show="currentpic == item.picid">
                <div class="albumwrapper">
                    <div class="imagewrapper clearfix" ng-class="{selected: currentpic == item.picid}"> {% comment %}selected needed?{% endcomment %}
                        <img src="/snapd-angular/makeImage.php?img=public/img/pics/{{ item.pic }}&quality=80&width={{ albumpicwidth }}&height={{ albumpicheight }}" alt=""/>
                    </div>
                    <div class="caption">{{ item.desc }}</div>
                </div>
            </div>
            <div id="fullimage" class="fullimage {{ fullimage }}"></div>
            <div class="closefull" ng-click="closeFullSize()" title="Close"><i class="icon-search-minus"></i></div>
        </div>


        <div ng-show="currentview == 'thumbs'" class="grid page">
            <div ng-repeat="item in album" class="col">
                <div ng-if="item.thumb" class="row">
                    <div class="span6">
                        <img src="{{ item.thumb }}" ng-click="loadAlbum(item.albumlinkaj,item.link + item.picid,item.picid)"/>
                    </div>
                    <div class="span6">
                        <p><i class="icon-camera"></i> {{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="loading {{ loading }}"></div>


    <div class="jshide">
        {% block albumlist %}{% endblock albumlist %}

        {% block album %}{% endblock album %}

        {% block thumbs %}{% endblock thumbs %}
    </div>
{% endblock content %}
