{% extends 'base.html' %}

{% block content %}
            <div class="mapwrapper mapstate{{ mapstate }}" ng-show="markers.length > 0">
                <div class="map-toggle min" ng-click="toggleMap(0)" title="Hide map"></div>
                <div class="map-toggle norm" ng-click="toggleMap(1)" title="Normal map"></div>
                <div class="map-toggle max" ng-click="toggleMap(2)" title="Full map"></div>
                <div class="map-refresh" ng-click="highlightMarker(1)" title="Reset map"></div>
                <div id="map" class="map"></div>
            </div>
    <div class="jsshow">
        <div ng-show="currentview == 'home'" class="grid page">
            <div ng-repeat="item in albums" class="col albumitem">
                <div class="imglink" ng-class="{hasmap: item.hasmap == 1}">
                	<div class="inner">
                		<img src="/snapd/public/img/thumbs/{{ item.thumb }}" alt="" class="bg"/>
	                	<div class="title"><div class="titletext">{{ item.name }}</div></div>
		                <div class="content">
		                    <p class="meta">{{ item.date }}, {{ item.count }} photos</p>
		                    <p class="caption">{{ item.intro }}</p>
		                    <div class="links">
		                        <span ng-click="loadAlbum(item.albumlinkaj,item.albumlink)" class="btn" title="Album">View album</span>
		                        <span ng-click="loadThumbs(item.thumbslinkaj,item.thumbslink)" class="btn" title="Thumbs">View thumbs</span>
		                    </div>
		                </div>
		            </div>
                </div>
            </div>
        </div>


        <div ng-show="currentview == 'album'" class="album albumstate{{ albumClutter }}">
            <nav class="albumnav">
                <span ng-show="albumClutter == 1" ng-show="currentpic > 0" ng-click="showPrev()" class="nav faux_link" title="Previous"><i class="icon-chevron-left"></i></span>
                <span ng-show="albumClutter == 1" ng-show="currentpic < album.size" ng-click="showNext()" class="nav faux_link" title="Next"><i class="icon-chevron-right"></i></span>
                <span ng-show="albumClutter == 1" ng-click="loadThumbs('',url_sitepath + '/thumbs' + album.link)" class="nav faux_link" title="Thumbs"><i class="icon-th-large"></i></span>
                <span ng-show="albumClutter == 1" ng-click="viewFullSize()" class="nav faux_link" title="Full size"><i class="icon-search-plus"></i></span>
                <span ng-show="albumClutter == 1" class="nav progress">{{ currentpic + 1 }} of {{ album.size + 1 }}</span>
                <span ng-show="albumClutter == 1" ng-click="toggleAlbumClutter(0,0)" class="nav faux_link" title="Hide caption"><i class="icon-chevron-down"></i></span>
                <span ng-show="albumClutter == 0" ng-click="toggleAlbumClutter(1,0)" class="nav faux_link" title="Show caption"><i class="icon-chevron-up"></i></span>
            </nav>
            <div ng-repeat="item in album" class="albumwrapper" ng-class="{selected: currentpic == item.picid}"> <!-- ng-show="currentpic == item.picid" -->
            	<div class="albuminner">
	                <div class="imagewrapper clearfix">
	                    <img src="/snapd/makeImage.php?img=public/img/pics/{{ item.pic }}&quality=80&width={{ albumpicwidth }}&height={{ albumpicheight }}" alt=""/>
	                </div>
	                <div class="caption">{{ item.desc }}</div>
	            </div>
            </div>
            <div id="fullimage" class="fullimage {{ fullimage }}"></div>
            <div class="closefull" ng-click="closeFullSize()" title="Close"><i class="icon-search-minus"></i></div>
        </div>


        <div ng-show="currentview == 'thumbs'" class="grid page">
            <div ng-repeat="item in album" class="col albumitem">
                <div ng-if="item.thumb" class="row thumbcaption">
                    <div class="span5 align-center">
                        <div class="imglink">
                            <img src="{{ item.thumb }}" ng-click="loadAlbum(item.albumlinkaj,item.link + item.picid,item.picid)"/>
                        </div>
                    </div>
                    <div class="span7 align-center-mobile">
                        <p class="caption">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="loading {{ loading }}"></div>


    <div class="jshide">
        {% block albumlist %}{% endblock albumlist %}

        {% block album %}{% endblock album %}

        {% block thumbs %}{% endblock thumbs %}
    </div>
{% endblock content %}
