{% extends 'layout.html' %}

{% block thumbs %}
    <div class="grid page">
    {% for showAThumbOrTwo %}
        <div class="col">
            <div class="row">
                <div class="span6">
                    {% if thumb %}
                        <a href="[[ link ]][[ picid ]]">
                            <img src="[[ thumb ]]"/>
                        </a>
                    {% endif %}
                </div>
                <div class="span6">
                    {% if desc %}
                        <p><i class="icon-camera"></i> [[ desc ]]</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock thumbs %}
