/* --page */
    /* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */

    body {
        font-family:Arial, Verdana, sans-serif;
        font-size: 100%;
        color:#333333;
        background:@white;
    }

    .page {
		max-width:300px * 4;
		margin:0 auto;
        padding-top:50px;
	}
    .albumitem {
	    .imglink {
			position:relative;
			overflow:hidden;
	        text-align:center;

	        .inner {
				background-position:50% 0;
				background-repeat:no-repeat;
				background-size:cover;
		        .bg {
					position:absolute;
					top:0;
					left:0;
					width:100%;
			        .transition( all @transpeed );
				}
		        .title {
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					.border-box();
					border:solid 1px @white;
					.titletext {
						padding:0 0.5em;
						.vertalign();
						.transparency(1);
				        .transition( all @transpeed );
				        .font-curvy();
				        color:@white;
				        text-shadow:0 0 3px rgba(0,0,0,0.5), 0 0 5px rgba(0,0,0,0.5);
				        font-size:190%;
				        font-weight:bold;
					}
				}
				.content {
					position:relative;
					padding:2em;
					color:@white;
					.transparency(0);
			        .transition( all @transpeed );
					.border-box();
					background:rgba(243,134,48,0.8);
					border:solid 1px @white;
					.meta {
						padding:0;
						font-size:85%;
					}
				}
				&:hover {
					.bg {
						//.transparency(0.2);
						.greyscale( 100% );
					}
			        .title {
						.transparency(0);
					}
					.content {
						.transparency(1);
					}
				}
			}

	        &:hover {
	            &.hasmap {
	                &:after {
	                    color:@white;
	                    text-shadow:none;
	                }
	            }
	        }
	        &.hasmap {
	            &:after {
	                content: "\e902"; /* icon-earth */
	                position:absolute;
	                top:1px;
	                right:1px;
	                padding:0.1em 0.2em;
	                .transition( all @transpeed );
	                font-family:'icomoon';
	                color:rgba(255,255,255,0.8);
	                text-shadow:0 0 1px rgba(0,0,0,0.4);
	            }
	        }
	    }
	}

	.thumbnail {
		position:relative;
		cursor:pointer;
		border:solid 1px @white;
		.img {
			display:block;
		}
		.captionwrapper {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			padding:1em;
			.border-box();
			background:rgba(243,134,48,0.8);
			.transparency(0);
			.transition( all @transpeed );
			overflow:hidden;
			.caption {
				.vertalign();
				text-align:center;
				color:@white;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&:hover {
			.captionwrapper {
				.transparency(1);
			}
		}
	}


    .mapwrapper {
        position:absolute;
        top:0;
        right:0;
        z-index:500;
        .transition( all 0.5s );

        .map-toggle {
            position:absolute;
            z-index:900;
            cursor:pointer;
            &:before {
                padding:0.4em 0.6em;
                background:rgba(63,63,63,0.5);
                font-family:icomoon;
                font-size:130%;
                line-height:1.5em;
                color:@orange;
                text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
                .transition( all 0.3s );
            }
            &:hover {
                &:before {
                    background:rgba(63,63,63,0.6);
                    color:@red;
                }
            }

            &.min {
                top:0;
                left:0;
                &:before {
                    content: "\f05a"; /* triangle right */
                    .border-radius( 0 0 4px 0 );
                }
            }
            &.norm {
                top:0;
                left:0;
                .transition( all @transpeed );
                &:before {
                    content: "\f044"; /* triangle left */
                    .border-radius( 4px 0 0 4px );
                }
            }
            &.max {
                top:0;
                right:100%;
                &:before {
                    content: "\f044"; /* triangle left */
                    .border-radius( 0 0 0 4px );
                }
            }
        }
        .map-refresh {
            position:absolute;
            z-index:900;
            cursor:pointer;
            top:0;
            right:0;
            &:before {
                content: "\e903"; /* refresh */
                padding:0.4em 0.6em;
                background:rgba(63,63,63,0.5);
                font-family:icomoon;
                font-size:130%;
                line-height:1.5em;
                color:@orange;
                text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
                .border-radius( 0 0 0 4px );
                .transition( all 0.3s );
            }
            &:hover {
                &:before {
                    background:rgba(63,63,63,0.6);
                    color:@red;
                }
            }

        }
        .map {
            width:100%;
            height:100%;
            border:solid 1px #000;
            border-top:0;
            border-right:0;
            .box-shadow( 0 0 5px rgba(0,0,0,0.3) );
        }

        &.mapstate0 { /* map is completely hidden */
            width:0;
            border:0;
            .min {
                display:none;
            }
            .norm {
                left:auto;
                right:100%;
            }
            .max {
                display:none;
            }
            .map-refresh {
                display:none;
            }
        }
        &.mapstate1 { /* map is shown in a small box */
            width:300px;
            height:300px;
            .norm {
                display:none;
            }
        }
        &.mapstate2 { /* map fills the screen */
            width:100%;
            height:100%;
            .norm {
				top:45%;
                &:before {
                    content: "\f05a"; /* triangle right */
                    .border-radius( 0 4px 4px 0 );
                }
            }
            .min {
				top:auto;
				bottom:100%;
			}
            .max {
                display:none;
            }
        }
    }

    .albumnav {
        position:fixed;
        z-index:200;
        bottom:0;
        right:0;
        max-width:35%;
        .border-box();
        color:#FFFFFF;
        text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
        .nav {
            float:left;
            padding:0.3em 0.6em;
            text-decoration:none;
            font-size:160%;
            line-height:1.2em;
            &:hover {
                //color:#FFFFFF;
            }
        }
        .progress {
            font-size:100%;
            line-height:2em;
        }
    }
    
    .album {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        overflow:hidden;
        
        &.albumstate0 {
            .mapwrapper,
            .map-toggle {
                .transform( translate(100%,0) );
            }
            .caption {
                .transform( translate(0,100%) );
            }
        }
        &.albumstate1 {
            .mapwrapper,
            .map-toggle {
                .transform( translate(0,0) );
            }
            .caption {
                .transform( translate(0,0) );
            }
        }
    }

    .albumwrapper {
        position:absolute;
        z-index:-1;
        top:0;
        left:-100%;
        width:100%;
        height:100%;
		overflow:hidden;
        .transition( all 0.5s );

        &.selected {
            left:0;
            & ~ .albumwrapper {
                left:100%;
            }
        }

        .albuminner {
	        display:table;
	        width:100%;
	        height:100%;
		}

        .imagewrapper {
            display:table-cell;
            vertical-align:middle;
            img {
                display:block;
                margin:0 auto;
            }
        }

        .caption {
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            padding:0.9em;
            padding-right:280px;
            border-top:solid 1px rgb(0,0,0,1);
            .border-box();
            .box-shadow( ~"0 0 5px rgba(0,0,0,0.5), 0 10px 30px -10px rgba(255, 255, 255, 0.2) inset" );
            .transition( all @transpeed );
            background:rgba(63,63,63,0.7);
            text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
            color:#FFFFFF;
            line-height:1.4em;
        }
    }
    
    .fullimage {
        display:none;
        position:fixed;
        z-index:200;
        overflow:scroll;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.9);
        &.on {
            display:block;
            & + .closefull {
                display:block;
            }
        }
        img {
            display:block;
            //position:absolute;
            top:0;
            left:0;
            margin:0 auto;
        }
    }
    .closefull {
        display:none;
        position:fixed;
        z-index:201;
        bottom:0;
        right:0;
        padding:0.5em;
        .border-radius( 5px 0 0 0 );
        background:rgba(63,63,63,0.5);
        color:orange;
        cursor:pointer;
        font-size:120%;
        line-height:1em;
        text-shadow:1px 1px 1px #000;
        &:hover {
            color:#FFFFFF;
        }
    }

    .loading {
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.5);
        &.on {
            display:block;
        }
        &:before {
            content: "";
            position:absolute;
            top:50%;
            left:50%;
            width:70px;
            height:70px;
            margin:-35px 0 0 -35px;
            background:url('../img/cog.svg') no-repeat 50% 50%;
            background-size:cover;
            .transparency( 0.6 );
            -webkit-animation: loadanim 2s linear infinite; /* Safari 4+ */
            -moz-animation:    loadanim 2s linear infinite; /* Fx 5+ */
            -o-animation:      loadanim 2s linear infinite; /* Opera 12+ */
            animation:         loadanim 2s linear infinite; /* IE 10+, Fx 29+ */

        }
    }
    
    /* define vendor specific calls here... */
    @-webkit-keyframes loadanim {.loading;}
    @-moz-keyframes loadanim {.loading;}
    @-ms-keyframes loadanim {.loading;}
    @-o-keyframes loadanim {.loading;}
    @keyframes loadanim {.loading;}

    /* ..then define animation here. */
    .loading(){
        0%   {
            .transform( rotate(0deg) );
        }
        100% {
            .transform( rotate(360deg) );
        }
    }

@media (max-width:@tabletWidth){
    .page {
        .albumitem {
            .thumbcaption {
                .caption {
                    position:relative;
                    width:auto;
                    height:auto;
                    overflow:visible;
                    &:after {
                        display:none;
                    }
                }
            }
        }
    }

    .imglink {
        .transform( scale(1) );
        img {
            .greyscale( 0% );
            .box-shadow( 0px 0px 6px rgba(0,0,0,0.5) );
        }
    }

    .mapwrapper {
        &.mapstate1 {
            width:0;

            .map-refresh {
                display:none;
            }
        }
        
        .map-toggle,
        .map-refresh {
            font-size:130%;
        }
        
        .map-toggle.max {
            &:before {
                content: "\e902"; /* world */
            }
        }
        
    }
    
    .albumnav {
        width:100%;
        max-width:none;
        .border-radius( 0 );
        text-align:center;
        .nav {
            float:none;
            display:inline-block;
        }
    }

    .albumwrapper {
        .caption {
            padding:0.5em 1em;
            padding-bottom:3.5em;
            font-size:90%;
            text-align:center;
        }
    }
}

@media (max-width:@mobileWidth){
	.albumitem {
		.imglink {
			border:solid 1px @white;
			.inner {
				.title {
					position:relative;
					border:0;
					.transparency(1);
					.vertical-gradient( transparent, 0%, rgba(243,134,48,0.3), 100% );
					.titletext {
						top:auto;
						padding:1em;
						.transform( none );
					}
				}
				.content {
					padding:0 1em 1em 1em;
					.transparency(1);
					border:0;
					.vertical-gradient( rgba(243,134,48,0.3), 0%, rgba(243,134,48,1), 100% );
				}

				&:hover {
					.title {
						.transparency(1);
					}
				}
			}
		}
	}
}
