
    .mapwrapper {

        &.mapstate1 {
            width:0;

            .map-refresh {
                display:none;
            }
        }
        
        .map-toggle,
        .map-refresh {
            font-size:130%;
        }
        
        .map-toggle.max {
            &:before {
                content: "\f0ac"; /* globe */
            }
        }
        
    }
    
    .albumnav {
        width:100%;
        max-width:none;
        .border-radius( 0 );
        text-align:center;
        .nav {
            float:none;
            display:inline-block;
        }
    }

    .albumwrapper {
        .caption {
            padding:1em;
            bottom:2.5em;
            text-align:center;
        }
    }