/* --variables */

    /* colours */

    @black: #333333;
    @white: #FFFFFF;
    
    //@blue: #76b6cb;
    //@blueDark: #588898;

    //@grey: #d9d9d9;
    //@greyLight: #f4f4f4;
    //@greyDark: #808080;

    //@red: #c12e2e;
    //@green: #88cb76;

    //new palette
    @blue: #69D2E7;
    @blueDull: #A7DBD8;
    @grey: #E0E4CC;
    @orange: #F38630;
    @red: #FA6900;

	/* responsive */
	@tabletWidth: 767px;
	@mobileWidth: 420px;
	
	@transpeed: 0.3s;

    /* forms */

    @labelWidth: 25%;
    @inputWidth: 70%;
    @formElementMargin: 5%; //gap between label and input
    @formElementSpacing: 5px; //spacing beneath input
    @helpWidth: @inputWidth;

