/* --variables */

    /* colours */

    @black: #333333;
    @white: #FFFFFF;
    
    @blue: #76b6cb;
    @blueDark: #588898;

    @grey: #d9d9d9;
    @greyLight: #f4f4f4;
    @greyDark: #808080;
    
    @red: #c12e2e;
    @green: #88cb76;

	/* responsive */
	@tabletWidth: 767px;
	@mobileWidth: 420px;

    /* forms */

    @labelWidth: 25%;
    @inputWidth: 70%;
    @formElementMargin: 5%; //gap between label and input
    @formElementSpacing: 5px; //spacing beneath input
    @helpWidth: @inputWidth;

