/* --variables */

    /* colours */

    @black: #333333;
    @white: #FFFFFF;

    //new palette
    @blue: #69D2E7;
    @blueDull: #A7DBD8;
    @grey: #E0E4CC;
    @orange: #F38630;
    @red: #FA6900;

	/* responsive */
	@tabletWidth: 767px;
	@mobileWidth: 500px;
	@smallWidth: 400px;

	@transpeed: 0.3s;

    /* forms */

    @labelWidth: 100%;
    @inputWidth: 100%;
    @formElementMargin: 0%; //gap between label and input
    @formElementSpacing: 0.5em; //spacing beneath input
    @helpWidth: @inputWidth;

